
# test case taken from Liu et. al 2025

# chosen parameters:
# 
# ion-electron temp ratio T_i / T_e = 5
# reduced mass ratio m_i / m_e = 25
# alfven velocity = c/20 

# lambda_0 = lambda_i * 0.5

# reference lengths: 
# x_0 = lamdbda_i = c / omega_pi = 227710.768 m
# v_0 = alfven velocity v_a = c / 20 = 14989622.9 m/s 
# T_0 = reference temperature = m_i * v_a * v_a / k_B = 2.722048856e10
# n_0 = _CHOOSE_ n_0 = 1e6

# magnetic field B0 = m_0 * v_0 / (q * x_0) = 6.8721800e-7 T
# t_0 = x_0 / u_0 = 0.015191 s (same value is obtained if omega_ci ^-1 is calculated)

# ion temperature (same as reference temperature? i guess) = 2.722048856e10
# ion thermal speed = 9.67557e6 m/s 
# ion drift speed = -2.4984e7

# electron temperature (0.2 * ion temp) = 5.44409e9
# electron thermal speed = 2.16352e7 m/s
# electron drift speed = 4.9968e6 m/s

# other important parameters:
# L_x = 12.8 * lambda_i = 2.91469e6
# L_y = 12.8 * lambda_i = 2.91469e6
# computational domain is [-L_x, L_x] x [-L_y, L_y]

# grid size is N_x * N_y, N_x = N_y
# N_x = 128, so N_y = 128

# electron velocity space extents are in all directions are [-8 * v_te, 8 * v_te]
# 8 * v_te = 1.73081600e8

# ion velocity space extents are in all directions are [-9 * v_ti, 9 * v_ti]
# 9 * v_ti = 8.7080130e7

# both velocity spaces use grids of size 26^3 (in vlasiator with 4width blocks this is 6.5 blocks per dimension, quite little, maybe use a bit more)

# time step is 0.02 (dimensionless)
# in seconds, this is 0.02 * t_0 = 0.00030382

# note, this timestep results in electron gyromotion happening at 29 degrees at a time, which is more than the vlasiator limit of 22-25 degrees.
# therefore, we set the timestep slightly smaller to
# dt = 0.00025

# simulation time = 40 (dimensionless)
# in seconds, this is 40 * t_0 = 0.60764


dynamic_timestep = 0
project = LCCP_reconnection
ParticlePopulations = electron
ParticlePopulations = proton

propagate_field = 1
propagate_vlasov_translation = 1
propagate_vlasov_acceleration = 1

[io]
restart_walltime_interval = 7200

diagnostic_write_interval = 10
write_initial_state = 1
system_write_t_interval = 0.01
system_write_file_name = bulk/bulk
system_write_distribution_stride = 20
system_write_distribution_xline_stride = 20
system_write_distribution_yline_stride = 20
system_write_distribution_zline_stride = 0

[gridbuilder]
x_length = 128
y_length = 128
z_length = 1
x_min = -2.91469e6
x_max = 2.91469e6
y_min = -2.91469e6
y_max = 2.91469e6
z_min = -2.277101e4
z_max = 2.277101e4
t_max = 1.0
dt = 0.00025

[bailout]
min_dt = 1e-12
velocity_space_wall_block_margin = 0

[boundaries]
periodic_x = yes
periodic_y = yes
periodic_z = yes

# [boundaries]
# periodic_x = yes
# periodic_y = no
# periodic_z = yes
# boundary = Outflow

# [outflow]
# precedence = 4

# [proton_outflow]
# face = y+
# face = y-
# vlasovScheme_face_y+ = Copy
# vlasovScheme_face_y- = Copy

[variables]
# Population moments (electron and ion)
output = populations_vg_rho
output = populations_vg_v
output = populations_vg_ptensor
output = populations_vg_blocks

# Aggregate (species-summed) moments
output = vg_rhom
output = vg_rhoq

# Fields: fg_e is what Figure 1(a)'s E_Ex = 0.5*integral(Ex^2)dx is built
# from directly.
output = fg_e
output = fg_b
output = vg_e_vol
output = vg_b_vol

output = vg_gridcoordinates
output = vg_rank
output = vg_f_saved
diagnostic = populations_vg_blocks

[loadBalance]
rebalanceInterval = 50

[fieldsolver]
method = AP
theta = 0.5
enforceGaussLaw = 1
lowPassFilter = 1

[LCCP_Reconnection]
B0 = 6.8721800e-7
ionInertialLength = 227710.768
useDoubleCS = 1

[electron_properties]
mass = 0.04
mass_units = PROTON
charge = -1

[electron_vspace]
vx_min = -1.73081600e8
vx_max = +1.73081600e8
vy_min = -1.73081600e8
vy_max = +1.73081600e8
vz_min = -1.73081600e8
vz_max = +1.73081600e8
vx_length = 10
vy_length = 10
vz_length = 10

[electron_sparse]
minValue = 1e-20

[electron_LCCP_Reconnection]
rho = 1.0e6
thermalSpeed = 2.16352e7
driftSpeed = 4.9968e6

[proton_properties]
mass = 1
mass_units = PROTON
charge = 1

[proton_vspace]
vx_min = -8.7080130e7
vx_max = 8.7080130e7
vy_min = -8.7080130e7
vy_max = 8.7080130e7
vz_min = -8.7080130e7
vz_max = 8.7080130e7
vx_length = 10
vy_length = 10
vz_length = 10
#slightly higher res here (original length would be 6.5)

[proton_sparse]
minValue = 1.0e-19

[proton_LCCP_Reconnection]
rho = 1.0e6
thermalSpeed = 9.67557e6
driftSpeed = -2.4984e7