
# test case taken from Liu et. al 2025

# chosen parameters:
# 
# ion-electron temp ratio T_i / T_e = 5
# reduced mass ratio m_i / m_e = 25
# alfven velocity = c/20 

# the paper's test case uses reference values
# 
# length = ion inertial length lambda_i =  sqrt(m_i / ( mu_0 * n_i * e^2)) = 2.27694e5 m = 227694
# mass = ion mass = 1.67262192e-27 kg
# density = initial plasma number density n_0 ( i guess this is just 1e6? )
# temperature = m_i * v_a / k_b = 2.722e10
# velocity = alfven speed = c / 20 = 14989622.9
# time = ion cyclotron period omega_ci ^ -1 = 0.0151

# to get SI values, convert with equation
# val_SI = val_ref * val_dimensionless

# dimensionless values taken from the paper     |         converted to SI:
# speed of light = 20                   |       299 792 548 m/s
# ion inertial length = 1               |       227694 m
# magnetic field B0 = 1                 |       ref = SI = m_0 * v_0 / (q * x_0) = 6.871e-7
# ion thermal speed = sqrt(5/12)        |       9.675e6
# electron thermal speed = sqrt(25/12)  |       2.163e7
# ion drift speed = -5/3                |       -0.249e8
# electron drift speed = 1/3            |       0.499e7
# plasma frequency = 100                |       

dynamic_timestep = 0
project = LCCP_reconnection
ParticlePopulations = electron
ParticlePopulations = proton

propagate_field = 1
propagate_vlasov_translation = 1
propagate_vlasov_acceleration = 1

[io]
diagnostic_write_interval = 10
write_initial_state = 1
system_write_t_interval = 0.000302
system_write_file_name = bulk
system_write_distribution_stride = 0
system_write_distribution_xline_stride = 0
system_write_distribution_yline_stride = 0
system_write_distribution_zline_stride = 0

[gridbuilder]
x_length = 256
y_length = 128
z_length = 1
x_min = -1457241.6
x_max = 1457241.6
y_min = -728620.8
y_max = 728620.8
z_min = -5692.35
z_max = 5692.35
t_max = 0.604
dt = 0.000302

[bailout]
min_dt = 1e-12
velocity_space_wall_block_margin = 1

[boundaries]
periodic_x = yes
periodic_y = yes
periodic_z = yes

[variables]
# Population moments (electron and ion)
output = populations_vg_rho
output = populations_vg_v
output = populations_vg_ptensor
output = populations_vg_blocks

# Aggregate (species-summed) moments
output = vg_rhom
output = vg_rhoq

# Fields: fg_e is what Figure 1(a)'s E_Ex = 0.5*integral(Ex^2)dx is built
# from directly.
output = fg_e
output = fg_b
output = vg_e_vol
output = vg_b_vol

output = vg_gridcoordinates
output = vg_rank
diagnostic = populations_vg_blocks

[fieldsolver]
method = AP
theta = 0.5
enforceGaussLaw = 1

[LCCP_Reconnection]
B0 = 6.871e-7

[electron_properties]
mass = 0.04
mass_units = PROTON
charge = -1

[electron_vspace]
vx_min = -173040000
vx_max = +173040000
vy_min = -173040000
vy_max = +173040000
vz_min = -173040000
vz_max = +173040000
vx_length = 10
vy_length = 10
vz_length = 10

[electron_sparse]
minValue = 1.0e-16

[electron_LCCP_Reconnection]
rho = 1.0e6
Temperature = 1

[proton_properties]
mass = 1
mass_units = PROTON
charge = 1

[proton_vspace]
vx_min = -87075000
vx_max = 87075000
vy_min = -87075000
vy_max = 87075000
vz_min = -87075000
vz_max = 87075000
vx_length = 10
vy_length = 10
vz_length = 10
#slightly higher res here (original length would be 6.5)

[proton_sparse]
#minValue = 1.0e-7

[proton_LCCP_Reconnection]
rho = 1.0e6
Temperature = 5